@media (min-width: 549px) {
    .content-box-text-icon-fi {
        display: flex;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    }
    
    .content-text-icon-fi {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 6px;
        padding: 0px 8px;
        text-align: center;
        justify-content: center;
    } 
    
    .text-ndwh-Stars {
        position: relative;
        display: block;
        color: rgb(240, 246, 252);
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }
    
    .icon-ndwh-Stars {
        display: none;
        fill: #9198a1;
        margin-right: 8px;
    }
    
    .number-ndwh-Stars {
        display: block;
        background-color: rgba(101, 108, 118, 0.2);
        border-radius: 24px;
        margin-left: 8px;
        padding: 0 6px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        color: rgb(240, 246, 252);
        border: 1px solid rgba(0, 0, 0, 0);
    }

    .button-other-ndwh {
        display: none;
    }
    
}