@media (min-width: 669px) {
    .icon-ndwh-overview,
    .icon-ndwh-Stars {
        display: block;
        margin-bottom: 2px;
    }

    .icon-ndwh-Repositories,
    .icon-ndwh-Projects,
    .icon-ndwh-Packages {
        display: block;
        margin-bottom: 2px;
    .content-text-icon-one::after {
    }
}