@media (min-width: 547px) {
    .content-box-text-icon-f {
        display: flex;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    }

    .content-text-icon-f {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 6px;
        padding: 0px 8px;
        text-align: center;
        justify-content: center;
    } 

    .text-ndwh-Packages {
        display: block;
        position: relative;
        display: block;
        color: rgb(240, 246, 252);
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }

    .icon-ndwh-Packages {
        display: block;
        fill: #9198a1;
        margin-right: 8px;
    }
}