body {
    background-color: rgb(13, 17, 23);
    overflow-y: scroll;
}

header {
    display: flex;
    background-color: #010409;
    width: 100%;
    border-bottom: 1px solid rgb(61, 68, 77); 
}

.content-nav-uph {
    display: flex;
    width: 100%;
    gap: 12px;
    flex-direction: row;
    height: 56px;
    padding: 16px 16px 8px;
}

.content-left-nav-uph {
    display: flex;
    gap: 8px;
    width: 100%;
    background-color: #010409;
}


.boxmu-nav-uph,
.box-search-box-rgnavuph,
.box-notifications-box-rgnavuph {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(61, 68, 77);
    border-radius: 6px;
}

.menu-button-nav-uph,
.search-icon-rgnavuph,
.notifications-icon-rgnavuph {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    padding: 1px 0 0 0;
}

.search-icon-rgnavuph,
.notifications-icon-rgnavuph {
    padding: 0;
} 

.menu-button-nav-uph svg,
.search-icon-rgnavuph svg,
.notifications-icon-rgnavuph svg {
    fill: rgb(145, 152, 161);
}

.icon-github-nav-uphl {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    flex: none;
}

.icon-github-nav-uphl svg {
    display: flex;
    fill: rgb(240, 246, 252);
}

.box-content-textnm-space-rghnvuph-nav-uph {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-textnm-space-rghnvuph-nav-uph {
    display: flex;
    width: 100%;
    align-items: center;
}

.content-textnm-nav-uph {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 4px 6px;
}

.textnm-nav-uph {
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(240, 246, 252);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}


.content-right-nav-uph {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
    width: auto;
    background-color: #010409;
}

.content-picture-profile-rgnavuph {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0);
}


.box-picture-profile-rgnavuph {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
}
