body {
    background-color: rgb(13, 17, 23);
    overflow-y: scroll;
}

header {
    display: flex;
    background-color: #010409;
    width: 100%;
    border-bottom: 1px solid rgb(61, 68, 77); 
}

.content-nav-uph {
    display: flex;
    width: 100%;
    gap: 12px;
    flex-direction: row;
    height: 56px;
    padding: 16px 16px 8px;
}

.content-left-nav-uph {
    display: flex;
    gap: 8px;
    background-color: #010409;
}

.content-right-nav-uph {
    display: flex;
    gap: 12px;
    width: 122px;
    height: 100%;
    background-color: #010409;
}