body {
    background-color: rgb(13, 17, 23);
    overflow-y: scroll;
}

header {
    display: flex;
    background-color: #010409;
    width: 100%;
    border-bottom: 1px solid rgb(61, 68, 77); 
}

.content-nav-uph {
    display: flex;
    width: 100%;
    gap: 12px;
    flex-direction: row;
    height: 56px;
    padding: 16px 16px 8px;
}

.content-left-nav-uph {
    display: flex;
    gap: 8px;
    background-color: #010409;
}

.content-right-nav-uph {
    display: flex;
    gap: 8px;
    background-color: #010409;
}

.boxmu-nav-uph {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(61, 68, 77);
    border-radius: 6px;
}