body {
    background-color: rgb(13, 17, 23);
    overflow-y: scroll;
}

header {
    display: flex;
    background-color: #010409;
    width: 100%;
    border-bottom: 1px solid rgb(61, 68, 77); 
}

.content-nav-uph {
    display: flex;
    width: 100%;
    gap: 12px;
    flex-direction: row;
    height: 56px;
    padding: 16px 16px 8px;
}

.content-left-nav-uph {
    display: flex;
    gap: 8px;
    width: 100%;
    background-color: #010409;
}

.content-right-nav-uph {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
    width: auto;
    background-color: #010409;
}

.boxmu-nav-uph {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(61, 68, 77);
    border-radius: 6px;
}

.menu-button-nav-uph {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    padding: 1px 0 0 0;
}

.menu-button-nav-uph svg {
    fill: rgb(145, 152, 161);
}

.icon-github-nav-uphl {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}

.icon-github-nav-uphl svg {
    fill: rgb(240, 246, 252);
}

