body {
    background-color: rgb(13, 17, 23);
    overflow-y: scroll;
}

header {
    display: flex;
    background-color: #010409;
    width: 100%;
    border-bottom: 1px solid rgb(61, 68, 77); 
    flex-direction: column;
}

.content-nav-uph {
    display: flex;
    width: 100%;
    gap: 12px;
    flex-direction: row;
    height: 56px;
    padding: 16px 16px 8px;
}

.content-left-nav-uph {
    display: flex;
    gap: 8px;
    width: 100%;
    background-color: #010409;
}


.boxmu-nav-uph,
.box-search-box-rgnavuph,
.box-notifications-box-rgnavuph {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(61, 68, 77);
    border-radius: 6px;
}


.menu-button-nav-uph,
.search-icon-rgnavuph,
.notifications-icon-rgnavuph {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    padding: 1px 0 0 0;
}


.search-icon-rgnavuph,
.notifications-icon-rgnavuph {
    padding: 0;
}

.menu-button-nav-uph svg {
    fill: rgb(145, 152, 161);
    margin-bottom: 1px;
}

.search-icon-rgnavuph svg {
    fill: rgb(145, 152, 161);
    flex-shrink: 0;
}


.notifications-icon-rgnavuph svg {
    fill: rgb(145, 152, 161);
}

.icon-github-nav-uphl {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    flex: none;
}

.icon-github-nav-uphl svg {
    display: flex;
    fill: rgb(240, 246, 252);
}

.box-content-textnm-space-rghnvuph-nav-uph {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-textnm-space-rghnvuph-nav-uph {
    display: flex;
    width: 100%;
    align-items: center;
}

.content-textnm-nav-uph {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 4px 6px;
}

.textnm-nav-uph {
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(240, 246, 252);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}


.content-right-nav-uph {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
    margin-right: -2px;
    width: auto;
    background-color: #010409;
}

.content-picture-profile-rgnavuph {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0);
}


.box-picture-profile-rgnavuph {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}



.box-picture-profile-rgnavuph img {
    border-radius: 50%;
    margin-right: 2px;
}

.content-create-button-arrow-box-rgnavuph,
.content-issues-box-rgnavuph,
.content-pull-requests-box-rgnavuph,
.content-copilot-arrow-box-rgnavuph,
.line-between-item-rgnavuph,
.content-text-search-box-rgnavuph {
    display: none;
}

.content-left-nav-dwh {
    display: flex;
    width: 100%;
    height: 43px;
    padding: 0px 16px;
}

.content-box-items-nav-dwh {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
}

.content-items-nav-dwh {
    display: flex;
    align-items: center;
    gap: 11px;
    padding-bottom: 1px;
    width: 100%;
    height: 100%;
}

.content-box-text-icon-one {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.content-box-text-icon-tw,
.content-box-text-icon-thr,
.content-box-text-icon-f,
.content-box-text-icon-fi {
    display: none;
} 

.content-text-icon-one {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 0px 8px;
    text-align: center;
    justify-content: center;
} 

.content-text-icon-tw,
.content-text-icon-thr,
.content-text-icon-f,
.content-text-icon-fi {
    display: none;
}

.content-text-icon-one::after {
    position: absolute;
    content: "";
    width: 82px;
    margin-top: 43px;
    border-bottom: 2px solid #f78166;
}

.text-ndwh-overview {
    position: relative;
    color: rgb(240, 246, 252);
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.text-ndwh-Repositories,
.text-ndwh-Projects,
.text-ndwh-Packages,
.text-ndwh-Stars {
    display: none;
}


.text-ndwh-Repositories,
.text-ndwh-Projects,
.text-ndwh-Packages,
.text-ndwh-Stars {
    display: none;
}


.icon-ndwh-overview {
    display: none;
    fill: #9198a1;
    margin-right: 8px;
}

.icon-ndwh-Repositories,
.icon-ndwh-Projects,
.icon-ndwh-Packages,
.icon-ndwh-Stars {
    display: none;
}


.number-ndwh-Repositories,
.number-ndwh-Stars {
    display: none;
}

.button-other-ndwh {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.line-more-ndwhbfmr {
    display: flex;
    position: relative;
    background-color: #3d444db3;
    width: 1px;
    height: 24px;
    left: -2px;
    margin: 0px 4px 3px 0;
}

.text-arrow-ndwhafln {
    display: flex;
    align-items: center;
    gap: 4px;
}

.text-more-ndwhafln {
    color: rgb(240, 246, 252);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 2px;
    padding: 4px 4px 4px 5px;
}

.arrow-more-ndwhafln svg {
    font-size: 14px;
    margin-bottom: 2px;
    fill: rgb(145, 152, 161);
}

.section-two {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 16px;
    margin-top: 8px;
}

.content-section-two {
    display: flex;
    gap: 21px;
    flex-direction: column;
    width: 100%;
}

.left-section-two {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-leftup-secion-two {
    display: flex;
    margin-top: 32px;
    width: 100%;
    flex-direction: column;
}

.picture-profile-secion-two {
    display: flex;
    margin-right: 16px;
    width: 16.66666666%;
    flex-shrink: 0 !important;
}

.picture-profile-secion-two img {
    object-fit: cover;
    width: 100%;   
    box-shadow: 0 0 0 1px #ffffff26;
    display: inline-block;
    border: 1px solid #3d444d;
    border-radius: 50%;
    vertical-align: middle;
}

.content-profile-nameuser-sntw {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 24px;
}

.content-nameuser {
    display: flex;
    padding: 16px 0;
    width: 100%;
}

.content-text-namesntwupdw {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.content-name-sntwup {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: rgb(240, 246, 252);
}

.content-name-sntwdw {
    font-size:20px;
    font-weight: 300;
    line-height: 24px;
    color: rgb(145, 152, 161);
}

.content-box-imotx-sntwupdw {
    display: flex;
    margin-bottom: 8px;
    padding: 4px 8px 5px 8px;
    border-radius: 6px;
    border: 1px solid #3d444d;
    width: 100%;
}

.icon-imosntwupdw {
    display: flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.text-sntwupdw {
    color: rgb(145, 152, 161);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.content-box-button-edit-sntwupdw {
    width: 100%;
    margin-bottom: 16px;
}

.content-button-edit-sntwupdw {
    width: 100%;
    padding: 5px 16px;
    text-align: center;
    border-radius: 6px;
    background-color: #212830;
    border: 1px solid #3d444d;
}

.text-button-edit-sntwupdw {
    color: rgb(240, 246, 252);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.content-fwfwng-button-edit-sntwupdw {
    display: flex;
    flex-direction: column;
}

.content-fwfwng-sntwupdw {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    gap: 3px;
    margin-bottom: 16px;
    color: rgb(240, 246, 252);
    cursor: pointer;
    align-items: center;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.content-fwfwng-sntwupdw a {
    font-weight: 400;
    color: rgb(145, 152, 161);
}

.content-text-icon-ltfw-sntwupdw {
    display: flex;
    align-items: center;
    gap: 4px;    
}

.ltfw-sntwupdw {
    font-weight: 400;
}


.icon-ltfw-sntwupdw svg {
    fill: rgb(145, 152, 161);
    margin-top: 2px;
}

.text-ltfw-sntwupdw {
    display: flex;
    gap: 3.5px;
}

.text-rgtfw-sntwupdw {
    display: flex;
    gap: 3.5px;
}

.content-Achievements-sntwupdw {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #3d444db3;
    padding-top: 16px;
    margin-top: 16px;
}

.content-text-Achievements-sntwupdw {
    color: rgb(240, 246, 252);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
}

.content-picture-Achievements-sntwupdw {
    display: flex;
    flex-direction: row;
}

.content-picture-Achievements-lfsntwupdw img,
.content-picture-Achievements-rgtsntwupdw img {
    display: flex;
    font-size: 14px;
    width: 64px;
    height: 64px;
}

.content-box-readme-sntwupdw {
    display: flex;
    margin-top: 24px;
    border: 1px solid #3d444d;
    border-radius: 6px;
    width: 100%;
}

.content-readme-sntwupdw {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 24px;
}

.content-text-liofreadme-sntwupdw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 35px;
}

.content-text-readme-lfsntwupdw {
    display: flex;
    margin-bottom: 16px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.atg-name-text,
.spantg-slsh-text,
.spantg-readme-text {
    color: rgb(240, 246, 252);
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.spantg-slsh-text {
    padding: 0 2px;
    color: rgb(145, 152, 161);
}

.spantg-md-text {
    color: rgb(145, 152, 161);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.icon-edit-sntw {
    display: flex;
    margin-top: 2px;
    margin-bottom: 16px;
}

.icon-edit-sntw svg {
    fill: rgb(145, 152, 161);
    font-size: 12px;
}

.content-box-svgbx-sntwupdw {
    display: flex;
    flex-direction: column;
}

.space-blwsvgbxsntwupdw {
    height: 5px;
}

.icon-imosntwupdwmniz {
    display: none;
}

.icon-imosntwupdw {
    width: 18px;
    height: 18px;
}

.content-Organizations-sntwupdw {
    display: none;
}

.content-box-pinned-items-sntwupdw {
    display: flex;
    margin-top: 24px;
    width: 100%;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.content-line-onetxtsntwupdw {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    align-items: center;
    justify-content: space-between;
}

.content-line-lfonetxtsntwupdw {
    color: rgb(240, 246, 252);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.content-line-rgtonetxtsntwupdw {
    color: rgb(68, 147, 248);
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.1428px;
    text-align: center;
    margin-bottom: 1px;
}

.content-all-bottom-sntwupdw {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.content-pinned-items-sntwupdw {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.content-box-pinned-items-lfsntwupdw,
.content-box-pinned-items-rgtsntwupdws {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;
    padding: 16px;
    border: 1px solid #3d444d;
    border-radius: 6px;
}


.content-pinned-items-lfsntwupdw,
.content-pinned-items-rgtsntwupdw {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-lineonefsntwupdw,
.content-lineonefsntwupdwrgt {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.icon-text-repfsntwupdw,
.icon-text-repfsntwupdwrgt {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.content-svg-txt-sntwuplfdw,
.content-svg-txt-sntwuprgtdw {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 224.48px;
}

.txslshxlfsntwupdw,
.txslshxrgtsntwupdw {
    display: flex;
    flex-direction: row;
    margin-right: 4px;
    margin-bottom: 4px;
}

.icon-repfsntwupdw,
.icon-repfsntwupdwrgt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
}

.icon-repfsntwupdw svg,
.icon-repfsntwupdwrgt svg {
    display: flex;
    text-align: center;
    margin-right: 4px;
    margin-top: -1px;
    width: 16px;
    height: 16px;
    fill: rgb(145, 152, 161);
}

.txslshlfsntw,
.txrgtsntw {
    color: rgb(68, 147, 248);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 4px;
}

.txlfsntw,
.txrgtsntw {
    color: rgb(68, 147, 248);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.button-public-lfsntwupdw,
.button-public-rgtsntwupdw {
    border: 1px solid #3d444d;
    width: 48px;
    height: 21px;
    text-align: center;
    position: absolute;
    margin-bottom: 4px;
    margin-left: 4px;
    border-radius: 9999px;
    color: rgb(145, 152, 161);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 11.9px;
    font-weight: 500;
    line-height: 18px;
}

.button-public-rgtsntwupdw {
    position: relative;
}

.button-left-lfsntwupdw svg,
.button-left-rgtsntwupdw svg {
    position: relative;
    fill: rgb(145, 152, 161);
    width: 16px !important;
    height: 16px !important;
    top: 4px;
    left: -1px;
}

.content-linetwofsntwupdw span,
.content-linetwofsntwupdwrgt span {
    display: flex;
    margin-top: 4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 12px;
    font-weight: 400;
    color: rgb(145, 152, 161);
    line-height: 18px;
}

.content-linethrfsntwupdw,
.content-linethrfsntwupdwrgt {
    display: flex;
    margin-top: 7px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.content-linethrfsntwupdwrgt {
    margin-top: 7px;
}

.content-csslcir-lfsntwupdw,
.content-csslcir-rgtsntwupdw {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 19px;
}

.cirsntwupdw,
.cirsntwupdws {
    display: flex;
    width: 12px;
    height: 12px;
    background-color: #663399;
    border-radius: 50%;
    border: 1px solid #ffffff26;
}


.text-html-sntwupdw,
.text-html-sntwupdwrgt {
    display: flex;
    color: rgb(145, 152, 161);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 12px;
    font-weight: 400;
    margin-top: 1px;
    margin-left: 3px;
    line-height: 18px;
}


.content-svg-start-num {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.svg-star-sntwupdw svg {
    fill: rgb(145, 152, 161);
    margin-top: 1px;
    margin-right: 4px;
}

.num-lfsntwupdw {
    color: rgb(145, 152, 161);
    font-size: 12px;
}

.sdsdfksdfdf {
    color: transparent;
    font-size: 200px;
    font-family: sans-serif;
}


.icon-repftxtbuttsntwupdw {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.cirsntwupdws {
    background-color: #e34c26;
}

.icon-repftxtbuttsntwupdw svg {
    fill: rgb(145, 152, 161);
}

.content-section-three {
    display: flex;
    width: 100%;
    margin-top: 24px;
}

.content-textthcose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.text-contributionsseth {
    display: flex;
    color: rgb(240, 246, 252);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.text-contributionsset {
    color: rgb(145, 152, 161);
    cursor: pointer;
    font-size: 12px;
.arrowdw-contributionsset {
    cursor: pointer;
    fill: rgb(145, 152, 161);
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    line-height: 18px;
    margin-left: -4px;
    width: 16px;
}

.content-text-contriset-arrowdw-th {
    display: flex;
    margin-top: 4px;
    flex-direction: row;
}