@media (min-width: 1012px) {
    .box-search-box-rgnavuph {
        width: 100%;
        padding: 5px 31px 5px 7px;
        gap: 8px;
    } 

    
    .content-text-search-box-rgnavuph {
        position: relative;
        display: flex;
        width: 196px;
    }

    .text-search-box-rgnavuph {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .textal-search-rgnavuph {
        display: flex;
        font-size: 14px;
        color: rgb(145, 152, 161);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-weight: 400;
        line-height: 20px;
        align-items: center;
        text-align: center;
        gap: 3.5px;
    }

    .textal-search-rgnavuph kbd {
        position: relative;
        display: flex;
        width: 16px;
        font-size: 11px;
        height: 16px;
        align-items: center;
        top: 1px;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #9198a1;
        border-radius: 3px;
        padding: 0 0 2px 0;
    }

    .section-two {
        
    }
    
}
