@media (min-width: 768px) {
    .box-create-button-arrow-box-rgnavuph {
        position: relative;
        display: flex;
        height: 32px;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(61, 68, 77);
        border-radius: 6px;
        direction: rtl;
        padding: 0 4px 0 8px;
    }

    .create-arrow-icon-rgnavuph {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        padding: 1px 0 0 0;
    }
    
    .create-create-button-icon-rgnavuph {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
        width: 16px;
        height: 16px;
        padding: 1px 0 0 0;
    }

    .create-create-button-icon-rgnavuph svg,
    .create-arrow-icon-rgnavuph svg {
        fill: rgb(145, 152, 161);
    }

    .box-pull-requests-box-rgnavuph,
    .box-issues-box-rgnavuph {
        position: relative;
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(61, 68, 77);
        border-radius: 6px;
    }

    .pull-requests-icon-rgnavuph,
    .pull-issues-icon-rgnavuph {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        padding: 1px 0 0 0;
    }

    .pull-requests-icon-rgnavuph,
    .pull-issues-icon-rgnavuph {
        padding: 0;
    }

    .pull-requests-icon-rgnavuph svg,
    .pull-issues-icon-rgnavuph svg,
    .copilot-arrow-box-rgnavuph svg,
    .arrow-dw-box-rgnavuph svg {
        fill: rgb(145, 152, 161);
    }

    .content-create-button-arrow-box-rgnavuph,
    .content-issues-box-rgnavuph,
    .content-pull-requests-box-rgnavuph {
        display: flex;
    }

    .line-between-item-rgnavuph {
        display: flex;
        content: "";
        width: 1px;
        height: 20px;
        margin: 6px 4px;
        background-color: rgb(61, 68, 77);
    }

    .content-copilot-arrow-box-rgnavuph {
        display: flex;
        flex-direction: row;
    }

    .content-copilot-button-box-rgnavuph {
        position: relative;
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(61, 68, 77);
        border-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }

    .content-arrow-dw-box-rgnavuph {
        position: relative;
        display: flex;
        width: 24px;
        height: 32px;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(61, 68, 77);
        border-radius: 6px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .content-section-two {
        flex-direction: row;
        gap: 16px;
    }
    
    .content-profile-nameuser-sntw {
        flex-direction: column;
    }

    .picture-profile-secion-two {
        width: 256px;
        height: 256px;
        margin-right: 0;
    }

    .section-two {
        padding: 0 24px;
    }

    .left-section-two {
        width: 256px;
    }

    .content-box-imotx-sntwupdw {
        display: none;
    }

    .content-profile-nameuser-sntw {
        margin: 0;
    }

    .content-fwfwng-sntwupdw {
        margin-top: 0;
    }

    .content-box-button-edit-sntwupdw {
        margin-bottom: 17px;
    .content-Organizations-sntwupdw {
        display: flex;
        padding-top: 16px;
        margin-top: 21px;
    }
    
    .content-text-Organizations-sntwupdw {
        color: rgb(240, 246, 252);
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 8px;
    }
    
    .content-picture-Organizations-sntwupdw {
        display: flex;
        flex-direction: row;
        margin-bottom: 4px;
    }
    
    .content-picture-Organizations-sntwupdw img {
        display: flex;
        font-size: 14px;
        border-radius: 6px;
        width: 32px;
        height: 32px;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
    }

}